

    <div class="sidebar">
      <div class="sidebar-wrapper">
        <div class="logo">
          <a target="_blank" rel="sponsored noopener noreferrer"
             href="https://appseed.us/admin-dashboards/django-dashboard-black" class="simple-text logo-mini">
            PG
          </a>
          <a target="_blank" rel="sponsored noopener noreferrer"
             href="https://appseed.us/admin-dashboards/django-dashboard-black" class="simple-text logo-normal">
            Enjoy Poli
          </a>
        </div>

        <ul class="nav">
        {% if request.user.is_authenticated %}

          <li class="{% if 'index' in segment %} active {% endif %}">
            <a href="/">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Home</p>
            </a>
          </li>
          <li>
            <a data-toggle="collapse" href="#programList" class="collapsed" aria-expanded="false">
              <i class="tim-icons icon-user-run"></i>
              <p>Programas <b class="caret"></b></p>
            </a>
            <div class="collapse" id="programList" style="">
                <ul class="nav">
                    <li class="">
                        <a href="{% url 'cultural-activities-list' %}">
                            <span class="sidebar-mini-icon"><i class="tim-icons icon-satisfied"></i></span>
                            <span class="sidebar-normal"> ACTIVIDADES CULTURALES </span>
                        </a>
                    </li>
                    <li class="">
                        <a href="{% url 'sport-activities-list' %}">
                            <span class="sidebar-mini-icon">ET</span>
                            <span class="sidebar-normal"> ACTIVIDADES DEPORTIVAS </span>
                        </a>
                    </li>
                    <li class="">
                        <a href="{% url 'medical-activities-list' %}">
                            <span class="sidebar-mini-icon">DT</span>
                            <span class="sidebar-normal"> CONSULTA MÉDICA Y ENFERMERÍA </span>
                        </a>
                    </li>
                    <li class="">
                        <a href="{% url 'seed-activities-list' %}">
                            <span class="sidebar-mini-icon">DT</span>
                            <span class="sidebar-normal"> SEMILLITAS POLI </span>
                        </a>
                    </li>
                </ul>
            </div>
          </li>

          <li class="{% if 'tables' in segment %} active {% endif %}">
            <a href="/ui-tables.html">
              <i class="tim-icons icon-puzzle-10"></i>
              <p>Table List</p>
            </a>
          </li>
          <li class="{% if 'typography' in segment %} active {% endif %}">
            <a href="/ui-typography.html">
              <i class="tim-icons icon-align-center"></i>
              <p>Typography</p>
            </a>
          </li>
          <li class="{% if 'rtl-support' in segment %} active {% endif %}">
            <a href="/page-rtl-support.html">
              <i class="tim-icons icon-world"></i>
              <p>RTL Support</p>
            </a>
          </li>
          {% else %}
          <li class="active">
            <a target="_blank" 
               href="https://appseed.us/admin-dashboards/django-dashboard-black-pro">
              <i class="tim-icons icon-spaceship"></i>
              <p>PRO Version</p>
            </a>
          </li>   
          {% endif %}
                    
        </ul>
        
      </div>
    </div>
