{% extends "layouts/base.html" %}

{% block title %} Mis Inscripciones  {% endblock %}

{% block content %}
    {% if programs %}
        {% for program in programs %}
            <div class="row">
                <div class="col-4">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="{{ program.image }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-category">{{ program.get_activity_display }}</h5>
                            <h3 class="card-title">{{ program.name }}</h3>
                            <a href="{% url 'program-detail' program.slug %}" class="btn btn-primary float-right">¡Ver Detalle!</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-light" role="alert">
            Aún no te has inscrito a ningun programa...
        </div>
    {% endif %}
{% endblock content %}