{% extends "layouts/base.html" %}

{% block title %} {{ program.name }} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card card-profile">
                <div class="card-body">
                    <h6 class="card-category text-gray">{{ program.get_activity_display }}</h6>
                    <h4 class="card-title text-info">{{ program.name }}</h4>
                    <p class="card-text">{{ program.description }}</p>

                    <h4 class="card-title text-info">Fecha Inicio - Fecha Fin</h4>
                    <p class="card-text">{% if program.start_date is not None %}{{ program.start_date }}{% else %}No disponible{% endif %} hasta {% if program.final_data is not None %}{{ program.final_data }}{% else %}No disponible{% endif %}</p>
                    <h4 class="card-title text-info">Instructor</h4>
                    <p class="card-title">{{ program.teacher.user.get_full_name }}</p>
                    <h4 class="card-title text-info">Email</h4>
                    <p class="card-text"><strong class="text-info"></strong><a href="mailto:{{ program.teacher.user.email }}">{{ program.teacher.user.email }}</a></p>
                    <h4 class="card-title text-info">Cupo Actual</h4>
                    <p class="card-text">{{ program.current_capacity_available }}/{{ program.capacity }}</p>
                    <h4 class="card-title text-info">Horario</h4>

                    <a href="/" class="btn btn-primary btn-round">Confirmar Inscripción</a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
