{% extends "layouts/base.html" %}

{% block title %} Bienestar Universitario  {% endblock %}

{% block content %}
    {% if not programs %}
        <div class="alert alert-light" role="alert">
          Proximamente más programas...
        </div>
        <div></div>
    {% else %}
        <div class="row">
            {% for program in programs %}
                <div class="col-4">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="{{ program.image }}" alt="Card image cap">
                          <div class="card-body">
                              <h5 class="card-category">{{ program.get_activity_display }}</h5>
                              <h3 class="card-title">{{ program.name }}</h3>
    {#                          <p class="card-text">{{ program.description }}</p>#}
    {#                          <p class="card-text"><strong class="text-info">Profesor: <br></strong>{{ program.teacher.user.get_full_name }}</p>#}
    {#                          <p class="card-text"><strong class="text-info">Email: <br></strong><a href="mailto:{{ program.teacher.user.email }}">{{ program.teacher.user.email }}</a></p>#}
                              <a href="{% url 'program-sport-detail' program.slug %}" class="btn btn-primary float-right">¡Inscribirme!</a>
                          </div>
                    </div>
                </div>
            {% endfor %}
    </div>
    {% endif %}
{% endblock content %}